{% extends "base.html" %}

{% block content %}
  {% for post in all_posts %}
    <div class="card mb-3">
      <div class="card-body">
        <h2>{{ post.title }}
            
          {{ post.title }}
          {% if session.get('logged_in') %}
            <a href="{{ url_for('edit_entry', entry_id=post.id) }}" class="btn btn-sm btn-outline-secondary float-right">
                Edytuj
                <form action="{{ url_for('delete_entry', entry_id=post.id) }}" method="POST" style="display:inline;">
                   <button class="btn btn-sm btn-danger" type="submit">Usuń</button>
                </form>
            </a>
          {% endif %}

        </h2>
        <p>{{ post.pub_date.strftime('%Y-%m-%d') }}</p>
        <p>{{ post.body }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock %}
